@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Raleway:ital,wght@0,300;0,900;1,100&family=Rubik+Puddles&display=swap");

html,
body {
  height: 100%;
}

.firstSection {
  height: 100%;
  background-image: url("../images/mainBakcground.png");
}

.content {
  margin-top: 200px;
  color: white;
}

.content .mainTitle {
  font-size: calc(35px + 0.390625vw);
  font-weight: bolder;
  margin: 0 auto;
  max-width: 80vw;
  font-family: "Nunito", sans-serif;
}

.content .tagline {
  font-size: calc(12px + 0.390625vw);
}

.content .signUp {
  font-size: calc(10px + 0.390625vw);
}

.content .form-control:focus {
  box-shadow: none;
}

.content .signUp input {
  width: 25%;
  height: 10vh;
  margin: auto;
  display: inline;
  margin-top: 10px;
  background: black;
  opacity: 0.65;
  color: white;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 2px;
}

.content .signUp input::placeholder {
  color: white;
}

.faq .form-control:focus {
  box-shadow: none;
}

.content .signUp .btn {
  color: white;
  height: 70px;
  margin-bottom: 10px;
  background-color: #ff0000;
}

.enjoy,
.download,
.watch,
.create {
  height: 80%;
  background-color: black;
  border-top: 10px solid gray;
  color: white;
}

.title {
  font-size: calc(20px + 0.390625vw);
  font-weight: bold;
  margin-top: 120px;
}
.text {
  font-size: calc(10px + 0.390625vw);
}

img {
  margin-top: auto;
}

.faq {
  text-align: center;
  height: max-content;
  background-color: black;
  border-top: 10px solid gray;
  color: white;
  padding-bottom: 20px;
}

.faq #heading {
  font-size: calc(25px + 0.390625vw);
  font-weight: bold;
}

.faq .accordion {
  text-align: left;
  color: white;
  width: 100%;
  height: 100px;
  background-color: #262626;
  border: none;
  padding: 5px 15px;
  align-content: center;
  font-size: calc(12px + 0.390625vw);
}
.faq .accordion:hover {
  background-color: grey;
}

.faq .panel {
  font-size: calc(10px + 0.390625vw);
  background-color: #262626;
  padding: 5px 15px;
}

.faq #minus {
  display: none;
}

.faq .signUp {
  font-size: calc(20px + 0.390625vw);
  /* text-align: center; */
}

.faq .signUp input {
  width: calc(350px + 0.390625vw);
  height: 10vh;
  margin: auto;
  display: inline;
  margin-top: 10px;
  background: black;
  opacity: 0.65;
  color: white;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 2px;
}

.faq .signUp input::placeholder {
  color: white;
}

.faq .signUp .btn {
  height: 70px;
  margin-bottom: 10px;
  background-color: #ff0000;
}

@media only screen and (max-width: 600px) {
  .firstSection {
    width: auto;
    height: max-content;
  }

  .content .signUp input {
    display: block;
    width: 100%;
  }
  .enjoy,
  .download,
  .watch,
  .create {
    text-align: center;
    height: max-content;
  }
  img {
    width: calc(300px + 0.390625vw);
  }
}
