@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Raleway:ital,wght@0,300;0,900;1,100&family=Rubik+Puddles&display=swap");

html,
body {
  height: 100%;
}

.firstSection {
  height: 100%;
  background-image: url("../images/mainBakcground.png");
}

.content {
  margin-top: 200px;
  color: white;
}

.content .mainTitle {
  font-size: 48px;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
}

.content .tagline {
  font-size: 24px;
}

.content .signUp {
  font-size: 20px;
}

.content .signUp input {
  width: 25%;
  height: 70px;
  margin: auto;
  display: inline;
  margin-top: 10px;
  background: transparent;
  color: white;
  margin-bottom: 10px;
  outline: none;
}

.content .signUp input::placeholder {
  color: white;
}

.content .signUp .btn {
  color: white;
  height: 70px;
  margin-bottom: 10px;
  background-color: #ff0000;
}

.enjoy,
.download,
.watch,
.create {
  height: 80%;
  background-color: black;
  border-top: 10px solid gray;
  color: white;
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 120px;
}
.text {
  font-size: 22px;
}

.enjoy > img {
  margin-top: auto;
  width: 700px;
}

.faq {
  height: max-content;
  background-color: black;
  border-top: 10px solid gray;
  color: white;
  padding-bottom: 20px;
}

.faq #heading {
  font-size: 48px;
  font-weight: bold;
}

.faq .accordion {
  text-align: left;
  color: white;
  width: 100%;
  height: 100px;
  background-color: #262626;
  border: none;
  padding: 5px 15px;
  align-content: center;
  font-size: 24px;
}
.faq .accordion:hover {
  background-color: grey;
}

.faq .panel {
  font-size: 24px;
  background-color: #262626;
  padding: 5px 15px;
}

.faq #minus {
  display: none;
}

.faq .signUp {
  font-size: 20px;
  text-align: center;
}

.faq .signUp input {
  width: 25%;
  height: 70px;
  margin: auto;
  display: inline;
  margin-top: 10px;
  background: transparent;
  color: white;
  margin-bottom: 10px;
}

.faq .signUp input::placeholder {
  color: white;
}

.faq .signUp .btn {
  height: 70px;
  margin-bottom: 10px;
  background-color: #ff0000;
}

@media only screen and (max-width: 600px) {
  .firstsection {
    height: auto;
  }
  .content .signup input {
    display: block;
    width: 100%;
  }
  .enjoy,
  .download,
  .watch,
  .create {
    height: max-content;
  }
  img {
    width: 350px;
  }
}
