html,
body,
.container-fluid {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

html,
body {
  height: 100%;
}

.myList {
  width: 100%;
  height: 100%;
  padding: 25px;
}
.myList .row {
  margin-left: 0;
}

.myList .row .options {
  cursor: pointer;
  color: white;
  width: 95%;
  background-color: #333333;
  border-radius: 7px;
  max-height: 130px;
  overflow: hidden;
}

.myList .row .options:hover {
  padding: 5px;
  max-height: 300px;
  transform: scale(1.2, 1.2);
}

.myList .row .options img {
  width: 100%;
}

.navbar {
  position: static;
  background-color: black;
}

@media only screen and (max-width: 600px) {
  .myList {
    height: max-content;
  }
}
