html,
body,
.container-fluid {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.firstSection {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.firstSection > #backVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1.2, 1.4);
  z-index: -1;
  pointer-events: none;
}
.firstSection .details {
  padding: 45px;
}
.firstSection .options {
  margin-top: 15%;
  color: white;
}
.firstSection .options img {
  width: 40px;
}
.firstSection .options .title {
  font-size: 48px;
  font-weight: bold;
}
.firstSection .options #desc {
  display: block;
  max-width: 800px;
  word-wrap: break-word;
}
.firstSection .options button {
  padding-left: 5px;
  display: flex;
  align-items: flex-start;
  background-color: white;
  border-radius: 5px;
  display: inline-flex;
}

.firstSection .options #info {
  color: white;
  background-color: grey;
}

.firstSection .options button:hover {
  color: black;
}

.secondSection {
  position: relative;
  background-color: black;
  padding: 45px;
  height: max-content;
}

.owl-stage {
  margin: 50px;
}

.owl-item {
  padding: 5px;
  max-height: 150px;
  overflow-y: hidden;
  transition: transform 0.2s;
}
.owl-item:hover {
  font-size: 24px;
  border-radius: 5px;
  background-color: #0d0d0d;
  z-index: 99999;
  max-height: 300px;
  transform: scale(1.3, 1.3);
}

.slide .owl-item img {
  width: 100%;
  margin-bottom: 15px;
}

.owl-nav button {
  height: 50px;
  position: absolute;
  top: 40%;
}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
}

.owl-nav button i {
  color: white;
  font-size: 25px;
}

@media only screen and (max-width: 600px) {
  .firstSection {
    height: 35%;
    pointer-events: none;
  }
  .firstSection .details {
    margin-top: 10px;
    padding: 15px;
  }
  .firstSection .options .watch {
    display: none;
  }
  .firstSection .options #desc {
    display: none;
  }
  .firstSection .options .title {
    font-size: 10px;
  }
  .firstSection .options button {
    margin-top: 0;
    padding: 0;
    font-size: 12px;
  }

  .secondSection {
    top: 0;
    padding: 0 10px;
  }
  .owl-item {
    max-height: 100px;
  }
  .owl-item i {
    font-size: 16px;
  }
  .slide .owl-item img {
    width: 100%;
  }

  .footer {
    padding: 5px 5px;
  }
}
