@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Raleway:ital,wght@0,300;0,900;1,100&family=Rubik+Puddles&display=swap");

html,
body {
  height: 100%;
}

.firstSection {
  height: 100%;
  background-image: url("../images/mainBakcground.png");
}

@media only screen and (max-width: 600px) {
  .firstsection {
    height: auto;
  }
}
