@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Raleway:ital,wght@0,300;0,900;1,100&family=Rubik+Puddles&display=swap");

html,
body {
  height: 100%;
}

.firstSection {
  height: 100%;
  background-image: url("../images/mainBakcground.png");
}

.signInForm {
  height: 80%;
  width: 35% !important;
  margin: 0 auto;
  color: white;
  background: rgb(0, 0, 0, 0.9);
  border-radius: 5px;
  /* opacity: 0.85; */
  padding: 80px 80px !important;
}

.signInForm h3 {
  font-weight: bold;
}

.signInForm .form-control:focus {
  box-shadow: none;
}

.signInForm #help {
  text-decoration: none;
  float: right;
  margin-top: 10px;
  cursor: pointer;
}

.signInForm .signin {
  width: 100%;
  background-color: #ff0000;
  color: white;
}

.signInForm #signup {
  cursor: pointer;
}
.signInForm .signin:hover {
  background-color: #ff3333;
  color: white;
}

@media only screen and (max-width: 600px) {
  .firstsection {
    height: auto;
  }

  .signInForm {
    width: 100% !important;
    padding: 60px 40px !important;
  }
}
