@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Raleway:ital,wght@0,300;0,900;1,100&family=Rubik+Puddles&display=swap");

html,
body {
  height: 100%;
}

.firstSection {
  height: max-content;
}

.navbar {
  margin-left: 10%;
  width: 80%;
  background-color: transparent;
}

.navbar #logo {
  width: 250px;
}

.navbar #signIn {
  color: white;
  background-color: #ff0000;
}

.signUpForm {
  height: max-content;
}

.next:hover {
  background-color: #ff3333;
  color: white;
}

.page1 img {
  width: 250px;
}

.page1 span {
  display: inline-block;
  font-size: 32px;
  font-weight: 500;
}

.page1 .msg {
  max-width: 350px;
  margin: 0 auto;
  font-size: 16px;
}

.form-control:focus {
  box-shadow: none;
}
.page1 button {
  font-size: 24px;
  padding: 15px 145px;
  color: white;
  background-color: #ff0000;
}

.page1 input {
  width: 40%;
  margin: 0 auto;
}

.activeBack {
  background-color: #ff0000 !important;
}
.activeColor {
  color: #ff0000 !important;
}

.page2 {
  width: 70%;
  margin: 0 auto;
}
.page2 .next {
  font-size: 24px;
  padding: 15px 145px;
  color: white;
  background-color: #ff0000;
  margin: 0 auto;
}

.page2 ul {
  list-style: none;
}

.page2 ul li:before {
  content: "✔";
}

.page2 .plans {
  text-align: right;
}
.page2 .planBtn {
  background-color: #ff3333;
  color: white;
  border: none;
  border-radius: 5px;
  width: 120px;
  height: 120px;
  margin-left: 15px;
}

.page2 table,
td {
  text-align: center;
}

.page2 #property {
  font-family: "Ubuntu", sans-serif;
  text-align: left;
  font-size: 20px;
  width: 360px;
  padding: 5px 5px;
  color: #737373;
}

.page2 .mobile {
  font-family: "Ubuntu", sans-serif;
  width: 120px;
  font-size: 20px;
  font-weight: 500;
  color: #737373;
}
.page2 .basic {
  font-family: "Ubuntu", sans-serif;
  width: 120px;
  font-size: 20px;
  font-weight: 500;
  color: #737373;
}
.page2 .standard {
  font-family: "Ubuntu", sans-serif;
  width: 150px;
  font-size: 20px;
  font-weight: 500;
  color: #737373;
}

.page2 .premium {
  font-family: "Ubuntu", sans-serif;
  width: 150px;
  font-size: 20px;
  font-weight: 500;
  color: #737373;
}

.page2 tr {
  border-bottom: 1px solid #737373;
}

.footer {
  height: max-content;
  padding: 100px 140px;
  color: #737373;
  border-top: 10px solid gray;
}

.footer ul {
  list-style: none;
}

.footer li {
  margin-top: 20px;
}

.footer a {
  color: #737373;
}

@media only screen and (max-width: 600px) {
  .firstSection {
    height: max-content;
  }

  .page2 {
    width: 100%;
  }
  .navbar {
    margin-left: 0;
    width: 100%;
    background-color: transparent;
  }
  #mynavbar {
    justify-content: left;
  }
  .navbar #logo {
    width: 120px;
  }
  .navbar #signin {
    font-size: 16px;
    padding: 5px 5px;
  }
  .page2 {
    width: 100%;
    margin: 0 auto;
  }

  .page2 .plans {
    text-align: left;
  }
  .page2 .planBtn {
    font-size: 14px;
    width: 90px;
    height: 90px;
    margin-left: 0;
  }
  .page2 tr {
    display: block;
  }
  .page2 #property {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    text-align: center;
  }

  .page2 .mobile {
    font-size: 16px;
    width: 120px;
  }
  .page2 .basic {
    font-size: 16px;
    width: 120px;
  }
  .page2 .standard {
    font-size: 16px;
    width: 150px;
  }

  .page2 .premium {
    font-size: 16px;
    width: 150px;
  }

  .footer {
    padding: 5px 5px;
  }
}
